#id-1{
    font-size: 20px;
    color: deeppink;
    text-align:center;
}
#id-2{
    font-size: 20px;
    color: blue;
    text-align:center;
}
.sherry{
    text-align: center;
}
#p-1 {
    background-color: red;
}
#xiaokeai p{
    font-size: 60px;
}
#xiaokeai a{
    color: #000;
}
* {color:red;}